<!-- inicio Home-->
<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-4 offset-lg-2 circle">
            <p>Llevate una buena impresión</p>
            <h1>GRÁFICA BARIGUIAN</h1>
            <p>Brindamos atención personalizada y una excelente calidad de servicio con precios competitivos,
                cumpliendo extrictamente los plazos de entrega.</p>
        </div>
    </div>
</div>
<!-- fin Home-->


<div class="row my-3">
    <!-- inicio Novedades -->
    <div id="novedades" class="col-md-5 offset-md-2 py-3">
        <h2>Novedades</h2>
        <ul class="lista-novedades">
            {{#each novedades}}
            <li>
                <a href="#" data-bs-toggle="modal" data-bs-target="#Modal{{id}}"><img src="{{imagen}}">
                    {{titulo}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
    <!-- Modal -->
    {{#each novedades}}
    <div class="modal fade" id="Modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{titulo}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="{{imagen}}">
                    <p>{{cuerpo}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <!-- cierro Modal -->
    <!-- fin Novedades -->

    <!-- inicio Producciones-->
    <div class="col-md-3 my-3">
        <div class="rounded py-5 producciones" id="producciones">
            <h2 class="text center">Producciones</h2>
            <div class="carousel slide" data-bs-ride="carousel" data-bs-toggle="modal" data-bs-target="#Modal2">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="#"><img src="images/carrousel1.jpeg" class="d-block w-100"></a>
                    </div>
                    <div class="carousel-item">

                        <a href="#"><img src="images/carrousel2.jpeg" class="d-block w-100"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#"><img src="images/carrousel3.jpeg" class="d-block w-100"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="#"><img src="images/carrousel4.jpeg" class="d-block w-100"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
            style="background-color: rgb(239, 220, 220);">
            <div class="modal-dialog">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Packaging</h2>
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="col-6 col-sm-12">
                                <img src="images/packaging.jpeg">
                            </div>
                            <div class="col-6 col-sm-12 detalle">
                                Confeccionamos estuches, cajas y todo tipo de contenedores para que tus productos se
                                destaquen.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Material publicitario</h2>
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="col-6 col-sm-12">
                                <img src="images/tarjetas!.jpeg">
                            </div>
                            <div class="col-6 col-sm-12 detalle">
                                Imprimimos folletos, tarjetas, stickers. Los mejores diseños para que publicites tus
                                productos y/o servicios.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Plotteado</h2>
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="col-6 col-sm-12">
                                <img src="images/plotter.jpeg">
                            </div>
                            <div class="col-6 col-sm-12 detalle">
                                Impresiones de gran tamaño. Sobre todo tipo de sustratos. Para decorar y/o señalizar
                                tus
                                espacios.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Papelería Comercial</h2>
                        <div class="row" style="margin-bottom: 50px;">
                            <div class="col-6 col-sm-12">
                                <img src="images/sobre.jpeg">
                            </div>
                            <div class="col-6 col-sm-12 detalle">
                                Todos los documentos comerciales que necesitas en tu oficina: hojas membrete,
                                sobres,
                                facturas y remitos y mucho más...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
    </div>
    <!-- fin Producciones -->
</div>


<div class="row my-3 staff">
    <!-- inicio Nosotros -->
    <div id="nosotros" class="col-md-10 offset-md-3 py-3">
        <h2>Nosotros</h2>
        <div class="card mb-3" style="max-width: 900px;">
            <div class="row g-0">
                <div class="col-md-100">
                    <img src="images/grafica bariguian.jpeg" class="img-fluid rounded-start" alt="¿Quiénes somos?">
                </div>
                <div class="col-md-100">
                    <div class="card-body">
                        <h5 class="card-title">¿Quiénes somos?</h5>
                        <p class="card-text"> Una imprenta familiar que se dedica a cumplir con todos los pedidos en
                            tiempo y forma mejor que nadie, siempre dando todo lo mejor y más.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin Nosotros -->
</div>


<div class="row my-3 ger">
    <!-- inicio Contactanos -->
    <div class="col-md-5 offset-md-2 py-3">
        <div class="row contactanos">
            <h2 id="contactanos">Contactanos</h2>
            <form class="row g-3" action="/" method="post">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="col-md-6">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido">
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="email@email.com" name="email">
                </div>
                <div class="col-12">
                    <label for="tel" class="form-label">Teléfono</label>
                    <input class="form-control" id="tel" placeholder="..." name="tel">
                </div>
                <div class="col-12">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
            <p>{{message}}</p>
        </div>
    </div>
    <!-- fin Contactanos -->

    <!-- inicio Visitanos -->
    <div class="col-md-3 my-3">
        <div id="visitanos">
            <h2>Visitanos</h2>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.7061509215705!2d-58.42541758417418!3d-34.636865366760986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccbaf2a7e8fa5%3A0xb68cd2fd32e3c6c0!2sMet%C3%A1n%204201%2C%20C1240AEM%20CABA!5e0!3m2!1ses-419!2sar!4v1660089138168!5m2!1ses-419!2sar"
                width="580" height="455" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <!-- fin Visitanos -->
</div>